<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		   <link rel="stylesheet" href="{{asset('Bootstrap/css/bootstrap.min.css')}}" type="text/css" />
		   <link rel="stylesheet" href="{{asset('css/layout_01.css')}}" type="text/css" />
		{% endblock %}
    </head>
    <body>
		<header class="container-fluid">
			<div class="row navy h70">
				<div class="col-md-4"><img src="{{asset('img/imie.png')}}" alt="LOGO"  width="45"/></div>
				<div class="col-md-8  right m20">
					<span class="glyphicon glyphicon-envelope main">Contact</span>
				</div>
			</div>
		</header>
		<div class="container-fluid">
			<div class="row white h550 ">
				<nav class="col-md-4 h550 border">
				</nav>
				<article class="col-md-8 h550">
						{% block body %}{% endblock %}		
				</article>
			</div>
		</div>	
		<footer class="container-fluid">
			
		</footer>
       
        {% block javascripts %}
			<script src="{{asset('JQuery/jQuery.js')}}" type="text/javascript" ></script>
			<script src="{{asset('Bootstrap/js/bootstrap.min.js')}}" type="text/javascript" ></script>
			
		
		{% endblock %}
    </body>
</html>
